TYPEORM_CONNECTION = postgres
# TYPEORM_HOST = 143.106.73.48
TYPEORM_HOST = localhost
TYPEORM_USERNAME = postgres
TYPEORM_PASSWORD = docker
TYPEORM_DATABASE = zerobito
TYPEORM_PORT = 5432

## configurações do JWT disponíveis, secret e duração do token
JWT_SECRET = 40b780965fc28ec715f0e322711ae24e
JWT_EXPIRES_IN = 8h