## tipo de driver
TYPEORM_CONNECTION = postgres
## host do banco
TYPEORM_HOST = localhost
#username do banco
TYPEORM_USERNAME = postgres
# password do banco
TYPEORM_PASSWORD = unicampzero445544
# nome do database a conectar
TYPEORM_DATABASE = zerobito
# porta do banco
TYPEORM_PORT = 5432

## pastas para migrations e entidades do typeorm
TYPEORM_MIGRATIONS= src/database/migrations/*.ts
TYPEORM_MIGRATIONS_DIR= src/database/migrations
TYPEORM_ENTITIES= src/entities/*.ts
TYPEORM_ENTITIES_DIR= src/entities

## configurações do JWT disponíveis, secret e duração do token
JWT_SECRET = 40b780965fc28ec715f0e322711ae24e
JWT_EXPIRES_IN = 8h